<div class="container">
	<div class="page-header">
		<h1>{{currentUser().name}} <small>{{currentUser().email}}</small>
			<button type="button" class="btn btn-info space btn-large pull-right" ui-sref="posts({id: currentUserId})">
				Ver todas as postagens
			</button>
		</h1>
	</div>
	<div class="divisor form-group">
		<h3 class="divisor">Como você se sente hoje?</h3>
		<input type="text" class="form-control space" name="postTitle" placeholder="Titulo do post" ng-model="post.title">
		<textarea class="form-control space" placeholder="Texto" ng-model="post.text"></textarea>
		<button class="btn btn-primary btn-lg" ng-click="savePost(post)">Postar</button>
	</div>
	<div class="divisor">
		<h3 class="divisor">Meus posts</h3>
		<div ng-repeat="post in currentUser().posts">
			<div class="eachPost">
				<div class= "panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							{{post.title}}
							<span class="pull-right" id="rating">Stars: {{post.rating}}</span>
						</h3>
					</div>
					<div class="panel-body">
						{{post.text}}
						<button class="btn btn-danger pull-right" ng-click="deletePost($index)">Apagar Post</button>
					</div>
					<hr>
					<div class="comment_box">
					<h4 class="space">Comentários:</h4>
					<div ng-repeat="comment in post.comments">
						<div class="eachComment">
							<label>{{comment.name}}</label>
							<p>{{comment.comment}}</p>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
